@font-face {
  font-family: 'Poiret-one';
  font-style: normal;
  font-weight: 400;
  src: local('fonts/poiret-one'), local('fonts/ReenieBeanie'), url(http://themes.googleusercontent.com/static/fonts/reeniebeanie/v3/ljpKc6CdXusL1cnGUSamX4kaQb-UsZVONjobs91YQtw.woff) format('woff');
}
